* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual {
  background-image: url(img/mv.jpg);
  height: 400px;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 50px;
}

.main-visual-text {
  padding: 20px;
  color: darkgrey;
}

main {
  width: 840px;
  margin: 50px auto;
}

.blog1 {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.blog2 {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
  padding-bottom: 30px;
}


.blog3 {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
  padding-bottom: 30px;
}


.blog4 {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

